---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=f2222748&app_key=776b85ac416c71fed03e509eafa77715&from=0&q=%20%20%20&to=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "   ",
          "from" : 0,
          "to" : 100,
          "params" : {
            "sane" : [ ],
            "to" : [ "100" ],
            "q" : [ "   " ],
            "app_id" : [ "f2222748" ],
            "app_key" : [ "776b85ac416c71fed03e509eafa77715" ],
            "from" : [ "0" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Fri, 04 Nov 2016 21:04:35 GMT
recorded_with: VCR 3.0.3
