<h1>Recipe</h1>
<p>If you're hungry and you know it, search for recipes. </p>

<h3 class="headline">Find Your Recipe</h3>

    <%= form_tag(search_recipes_path(), :method => "get") do %>
      <%= search_field_tag("query", nil, :placeholder => "search recipes")%>

      <%= submit_tag "Submit", :name => nil, class: 'button' %>

    <% end %>
