<div class="home-hero">


  <h1>Api Muncher Main</h1>
  <p>If you're hungry and you know it, search for recipes. </p>






    <h3>Find Your Recipe</h3>
  <%= form_tag(search_recipes_path(), :method => "get") do %>
    <%= search_field_tag("query", nil, :placeholder => "search recipes", class: "large-2 small-centered columns")%>
      <%= submit_tag "Submit", :name => nil, class: 'button' %>
    <% end %>


'</div>'


  <ul class="example-oribit" data-orbit>

    <li data-orbit-slide="headline1">
      <div>
        <img src="/assets/veg_with_knife.jpg" alt="" />
        <div class="orbit-caption"> here is description for image1</div>
      </div>
    </li>

    <li data-orbit-slide="headline2">
      <div>
        <img src="/assets/vegetable_basket_med.jpg" alt="" />
        <div class="orbit-caption"> here is description for image2</div>
      </div>
    </li>

    <li data-orbit-slide="headline3">
      <div>
        <img src="/assets/vegetable_basket.jpg" alt="" />
        <div class="orbit-caption"> here is description for image1</div>
      </div>
    </li>


  </ul>
